/* You can add global styles to this file, and also import other style files */

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;

    a {
        color :white;
    }
}